<p align="center"><img src="./app/assets/images/leewaylogo2.png" width=250px/></p>

<h1 align="center">Leeway</h1>

<p align="center">
  <a href="https://leewayapp.herokuapp.com/">Live Demo!</a>
</p>

<p align="center">
  <a href="#technologies">Technologies</a> •
  <a href="#key-features">Key Features</a> •
  <a href="#pending-features">Pending Features</a>
</p>

<p align="center">A Slack clone implemented using a Rails backend and React/Redux frontend framework. Users can create channels or direct messages to converse with a single person or multiple people.</p>
<p align="center">Note: this project was designed and built under a two-week deadline.</p>

<p align="center"><img src="./app/assets/images/leewayfeatures.png"  width=650px/></p>

## Technologies
- ActionCable 5.2.1
- React 16.4.2
- Redux 4.0.0
- npm 6.3.0
- Postgresql Database

## Key Features
#### Live Chat
Leeway utilizes ActionCable, a WebSocket framework for Rails, allowing open connections for real-time server communication.

On the backend, messages are broadcasted to all users who are subscribed to the specified channel:
```
#app/models/message.rb
after_create_commit do
  ActionCable.server.broadcast "chat-#{messageable_id}:messages",
    id: id,
    body: body,
    author_id: author_id,
    author: author.format_username,
    messageable_type: messageable_type,
    timestamp: created_at.strftime("%-I:%M %p")
end
```

```
#app/assets/javascripts/channels/messages.js.erb
<% Channel.all.each do |channel| %>
    App[`chat-${<%=channel.id%>}:messages`] = App.cable.subscriptions.create(
      {channel: "MessagesChannel", messageable_id: <%=channel.id%>}, {
        received: (data) => data
      }
    );
<% end %>
```

```app/channels/messages_channel.rb
#
def subscribed
  stream_from "chat-#{params['messageable_id']}:messages"
end
```

#### Channel and Direct Message Creation

#### Message Editing and Deletion

## Pending Features

## Pending Features
- Channel/direct message editing and deletion
- Search for a channel or direct message chat
- Message search
