.channel-sidebar {
  line-height: 26px;
  font-size: 16px;
}

.channels-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  margin-top: 30px;
  color: rgb(202,196,201);
  max-height: 29px;
}

.channels-h2 {
  font-weight: 400;
  width: 180px;
}

.create-dm-button, .create-channel-button {
  // position: absolute;
  font-size: 24px;
  opacity: .64;
}

.create-channel-button {
  // top: 114px;
  // left: 190px;
}

.create-channel-button:hover {
  opacity: 1;
}

.channel-li {
  max-height: 26px;
  max-width: 200px;
  height: 26px;
  padding: 0px 12px;
  font-size: 16px;
  overflow: hidden;
  color: rgb(202,196,201);
  cursor: pointer;
  // align-items: center;
}

.channel-li:hover {
  background: #3E313C;
}

#selected-channel {
  background: #4C9689;
  color: white;
}

#selected-channel-symbol {
  color: white;
  opacity: 1;
}

.channel-li button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-symbol {
  max-height: 26px; //keeps channel title in line even w lock icon
  max-width: 9px;
  margin-right: 7px;
  color: #969096;
}

.lock-title-symbol {
  font-size: 13px;
  opacity: 0.85;
}
