.channel-sidebar {
  line-height: 26px;
  font-size: 16px;
}

.channel-sidebar h2, .channel-li {
  padding: 0px 15px;
}

.channel-sidebar h2 {
  font-weight: 400;
  margin-top: 30px;
}

.channel-li {
  cursor: pointer;
  overflow: hidden;
}

.channel-li:hover {
  background: #3E313C;
}

#selected-channel {
  background: #4C9689;
}

.channel-li button {
  display: flex;
  flex-direction: row;
}

.title-symbol {
  margin-right: 5px;
  color: #969096;
}

.channel-li li {
  // overflow: hidden;
}
