.dm-create-container {
  display: flex;
  flex-direction: column;

  margin: auto;
  max-width: 630px;
  padding: 80px 0;
  line-height: 2;

  font-family: $lato;
}

.dm-create-container p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #919193;
}

.user-search-input {
  margin: 15px 0;
  width: calc(100% - 32px);
  padding: 5px 15px;
  border: 1px solid #919193;
  border-radius: 5px;
  font-size: 20px;
}

.user-matches-ul {
  height: 400px;
  overflow: scroll;
}

.matched-user {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: calc(100% - 32px);
  margin-left: 24px;
  padding: 5px 0;
  border-top: 1px solid #e8e9e8;

  font-weight: 600;
  font-size: 17px;
}

.user-match-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.user-select-x-button {
  padding-left: 10px;
  font-size: 25px;
}

.dm-submit-button {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px 32px;
  background: #008951;
  color: white;
}
