
.dm-user-num-square {
  max-height: 17px;
  min-height: 15px;
  min-width: 15px;
  max-width: 15px;

  height: 100%;
  width: 15px;

  margin-right: 4px;

  border-radius: 3px;
  background: gray;
  opacity: .7;

  font-size: 12px;
  color: white;
  text-align: center;

}

.create-dm-button {
  position: absolute;
  top: 352px;
  left: 190px;
}
