$timestamp-gray: #717274;
$body-gray: #2c2d30;

.chat-col, .message-feed-ul, .message-input {
  height: 100%;
}

.chat-col {
  display: flex;
  flex-direction: column;
  width: calc(100% - 220px);
  height: 97vh;
  // bottom: 0;
  padding: 15px 30px;
}

.title {
  padding: 10px 0;
}

.messaging {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
}

.message-feed-div {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  justify-content: flex-start;
}

.message-input {
  width: 100%;
  padding: 10px 5px;

  border: 2px solid #b3b3b4;
  border-radius: 5px;
}

.message-author, .message-timestamp, .message-body {
  display: inline-block;
  align-items: center;
}

.message-author {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 900;
}

.message-timestamp {
  padding: 0 5px;

  font-size: 12px;
  font-weight: 400;
  color: $timestamp-gray;
}

.message-body {
  word-break: break-all;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  color: $body-gray;
  line-height: 1.5;
}
