$timestamp-gray: #717274;
$body-gray: #2c2d30;

.chat-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  justify-content: flex-end;
  height: 100%;
  left: 220px;
  bottom: 0;

  margin: 15px 30px;
}

.message-author, .message-timestamp, .message-body {
  display: inline-block;
  align-items: center;
}

.message-author {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 900;
}

.message-timestamp {
  padding: 0 5px;

  font-size: 12px;
  font-weight: 300;
  color: $timestamp-gray;
}

.message-body {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  color: $body-gray;
  line-height: 1.5;
}
