$timestamp-gray: #717274;
$body-gray: #2c2d30;

.chat-col, .message-feed-ul, .message-input {
  height: 100%;
}

.chat-col {
  display: flex;
  flex-direction: column;
  width: calc(100% - 220px);
  height: 97vh;
  // bottom: 0;
  padding: 15px 30px;
}

.title {
  padding: 10px 0;
}

.messaging {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
}

.message-feed-div {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  justify-content: flex-start;
  margin: 10px 0;
}

.message-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;

  border: 2px solid $timestamp-gray;
  border-radius: 5px;
}

// INDIVIDUAL MESSAGES
.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}

.author-timestamp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2px;
}

img {
  margin: 0 2px;
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.message-author, .message-timestamp, .message-body {
  box-sizing: border-box;
}

.message-author {
  font-size: 16px;
  font-weight: 900;
}

.message-timestamp {
  padding: 0 5px;

  font-size: 12px;
  font-weight: 400;
  color: $timestamp-gray;
}

.message-body {
  font-size: 15px;
  font-weight: 400;
  color: $body-gray;

  word-break: break-word;
  line-height: 1.5;
}
