$button-link-blue: #3f46ad;
$text-dark: #2c2d30;
$button-green: #108851;

.session {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: cream;
}

.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.errors, .session-form {
  display: flex;
  max-width: 630px;
  margin: auto;

  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.errors {
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  border-left: 5px solid #d30404;
}

#error-img {
  height: 25px;
  width: 25px;
  padding: 10px;
}

.session-form {
  flex-direction: column;
  align-items: center;

  padding: 30px 0;

  box-shadow: 0 1px 1px -1px #444;

  text-align: center;
  line-height: 2;
}

.session-form h1 {
  font-size: 35px;
  font-weight: bold;
}

.auth-credentials, .session-submit, .demo-button {
  margin: 10px;
  padding: 5px 20px;
  min-width: 300px;

  border-radius: 5px;
  font-size: 20px;
}

.auth-credentials {
  border: 1px solid #777;
  text-align: left;
}

.session-submit, .demo-button {
  background-color: #0c7c4e;
  color: white;
}

.session-submit:active, .demo-button:active {
  background-color: #ddd;
}

.demo-button {
  margin-top: 0px;
}

.alt-auth-link {
  color: $button-link-blue;
}

.alt-auth-link:hover {
  text-decoration: underline;
}
