$sidebar-purple: #4D394B;

.workspace {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
}

// temporary placeholder for channel index
.index-col {
  flex-direction: column;
  float: left;
  flex-grow: 1;
  position: absolute;
  overflow-y: auto;

  padding: 10px 15px;
  box-sizing: border-box;

  min-width: 220px;
  height: 100%;
  left: 0;
  top: 0;

  background-color: $sidebar-purple;
  color: #cac4c9;
}

.index-col h1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
