.workspace {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.index-sidebar {
  flex-direction: column;
  float: left;
  flex-grow: 1;
  position: relative;

  // min-height: 100%;
  height: 1000px;
  min-width: 220px;
  max-width: 220px;

  background-color: #4D394B;
  color: #cac4c9;
}
