.delete-message-button-,  .edit-message-button-{
  visibility: hidden;
}

// .message-delete-div {
//   // width: 100%;
// }

.delete-message-button-visible, .edit-message-button-visible {
  max-width: 21px;
  width: 21px;
  padding: 0 5px;
  visibility: visible;
}

.delete-message-button-visible {
  font-size: 23px;
}

.edit-message-button-visible {
  font-size: 16px;
}

.message-body-editing {
  visibility: hidden;
}
